@import url("./reset.css");

body {
    background-color: #f7f7f7;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 0, 35);
    margin-top: 710px;
}

header {
    height: 160px;
    width: 100%;
    background-color: rgb(3, 0, 35);
}

img {
    width: 400px;
    height: 600px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(3, 0, 35);
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    height: 60px;
    padding-top: 10px;
    border-radius: 5px;
}

h2 {
    font-size: 1.5rem;
    height: 40px;
}

p {
    font-size: 1.2rem;
    padding-bottom: 3px;
}

h2,
p {
    background-color: white;
    width: 400px;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.logo {
    width: auto;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    filter: brightness(0) invert(1);
}

.icon-cart {
    width: auto;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    filter: brightness(0) invert(1);
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.img-header {
    width: 100%;
    height: auto;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgb(3, 0, 35);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.movie-button {
    background-color: rgb(3, 0, 35);
    color: white;
    width: 400px;
    height: 40px;
    margin-top: 5px;
    border: 2px solid rgb(3, 0, 35);
    border-radius: 2px;
    box-shadow: 1px 2px 2px 2px rgba(3, 0, 35, 0.25);
}

#genre-buttons {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;
    gap: 30px;
}

.genre-button {
    background-color: rgb(3, 0, 35);
    color: white;
    width: 120px;
    height: 30px;
    border: 2px solid rgb(3, 0, 35);
    border-radius: 2px;
    box-shadow: 1px 2px 2px 2px rgba(3, 0, 35, 0.25);
}

.genre-button:hover {
    background-color: white;
    color: rgb(3, 0, 35);
}

footer {
    height: 180px;
    background-color: rgb(3, 0, 35);

}

.single-movie-container {
    margin-bottom: 50px;
}

.movie-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.details-single-movie {
    height: 590px;
    width: 460px;
    background-color: white;
    text-align: left;
    line-height: 36px;
    padding-left: 16px;
    padding-top: 10px;
}

#add-to-cart-button {
    background-color: rgb(3, 0, 35);
    color: white;
    width: 200px;
    height: 40px;
    border: 2px solid rgb(3, 0, 35);
    border-radius: 2px;
    box-shadow: 1px 2px 2px 2px rgba(3, 0, 35, 0.25);
    margin-top: 20px;
}

.back-to-all-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.back-to-all-movies-button {
    background-color: white;
    color: rgb(3, 0, 35);
    width: 400px;
    height: 40px;
    font-size: 1.2rem;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgb(3, 0, 35);
    border-radius: 2px;
    box-shadow: 1px 2px 2px 2px rgba(3, 0, 35, 0.25);
}