/* Stylesheet for layout(flexbox, margin) */
/* Stylesheet also includes full styling for header and footer */

/* Background color for the entire website */
body {
  background-color: #f7f7f7;
}

main {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}


/* All Styling of header */
header {
  height: auto;
  width: 100%;
}

.header-top {
  height: 120px;
  background-color: rgb(3, 0, 35);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: auto;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.icon-cart {
  width: auto;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.logo,
.icon-cart {
  filter: brightness(0) invert(1);
}

.img-header {
  width: 100%;
  height: auto;
}


/* Layout for index.html page */
#main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 30px;
  margin-bottom: 40px;
}

#genre-buttons {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 30px;
  gap: 30px;
}


/* Layout for product.html page */
.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.details-single-movie {
  height: 590px;
  width: 460px;
  background-color: white;
  text-align: left;
  line-height: 36px;
  padding-left: 16px;
  padding-top: 10px;
}

.back-to-all-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}


/* Layout for checkout.html page */
.full-cart {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#total-price,
#empty-cart-message {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 380px;
  border: 2px solid rgb(3, 0, 35);
  padding: 10px;
  border-radius: 5px;
}

#checkout-button {
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Layout for confirmation.html page */
.icon-confirmation-page {
  width: 128px;
  height: auto;
}

.confirmation-text {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}


/* All styling of footer */
footer {
  height: 110px;
  background-color: rgb(3, 0, 35);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line1,
.line2 {
  padding-top: 20px;
  border-bottom: 1px solid white;
  margin-right: 50px;
  margin-left: 50px;
}

.link-footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
}